/* ----- Base/General ----- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Poppins', sans-serif;
	background-color: #434242;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: #fff;
  }
  

  /* ----- Main -----*/
  .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: relative;
	background: linear-gradient(112.9deg, #048853 0.98%, rgba(0, 0, 0, 0.84) 165.36%);
  }
  
  .logo-container {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 10;
  }
  
  .logo {
	width: 55px;
	height: auto;
	margin-left: 20px
  }

  .content-wrapper {
	flex: 1;
	padding: 40px;
	background-image: url(/assets/first-background.png);
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  
  .content-wrapper h2 {
	font-size: 55px;
	font-weight: 700;
	margin-bottom: 20px;
  }
  
  .content-wrapper p {
	font-size: 18px;
	line-height: 1.6;
  }
  
  .form-wrapper {
	flex: 1;
	background-color: #f2fff3;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
  }
  
  .form-content {
	background-color: #fff;
	border-radius: 10px;
	padding: 40px;
	width: 95%;
	max-width: 600px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
	text-align: center;
	color: #00985B;
	margin-bottom: 20px;
	font-size: 24px;
  }
  
  input, select {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 14px;
  }
  
  input:focus, select:focus {
	border-color: #048853;
  }
  
  button {
	width: 100%;
	padding: 12px;
	background-color: #00985B;
	border: none;
	color: #fff;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  button:hover {
	background-color: #048853;
  }
  
  .message {
	text-align: center;
	margin-top: 15px;
	color: #000;
	font-size: 14px;
  }
  
  .message a {
	color: #00985B;
	text-decoration: none;
  }
  
  .message a:hover {
	text-decoration: underline;
  }
  
  .input-group {
	margin-bottom: 15px;
  }
  
  label {
	color: #434242;
	display: block;
	margin-bottom: 3px;
	font-size: 14px;
  }
  
  .social-login {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
  }
  
  .social-btn {
	flex: 1;
	padding: 8px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 12px;
	margin: 0 5px;
  }
  
  .google-btn {
	background-color: #fff;
	border: 3px rgb(255, 55, 55) solid;
	color: #757575;
  }
  
  .google-btn:hover {
	background-color: rgb(255, 55, 55);
	color: #fff;
  }
  
  .facebook-btn {
	background-color: #4692f5;
	color: #fff;
	border: none;
  }
  
  .facebook-btn:hover {
	background-color: #166fe5;
  }
  


/* ----- Mobile Responsiveness ------*/
  @media (max-width: 768px) {
	.container {
	  flex-direction: column;
	}

	.logo-container {
		display: none;
		/* position: static;
		text-align: center;
		padding: 5px 0; */
	  }
  
	.content-wrapper, .form-wrapper {
	  width: 100%;
	  height: auto;
	}

	.content-wrapper h2 {
		font-size: 35px;
		font-weight: 700;
		margin-bottom: 20px;
	  }
	  
	  .content-wrapper p {
		font-size: 18px;
		line-height: 1.6;
	  }
	  
  
	.content-wrapper {
	  padding: 20px;
	  text-align: center;
	}
  
	.form-content {
	  width: 70%;
	  height: auto;
	  padding: 20px;
	}
  }